
<div *ngIf="!isProperties">
<ul *ngFor="let product of listOfPurchaseToShow">
<li>
<img [src]="product.picture" alt="{{product.productName}}" style="width: 10%; height: auto; border-radius: 5px;" />

{{product.productName}}-
{{product.categoryId}}-
{{product.description}}-
{{product.matchAge}}-
{{product.price}}
<button (click)="deleteProduct(product)">מחק</button>
</li>
    </ul>


<p>סכום הקניה:{{amount}}</p>
<button (click)="finishShopping(amount)">סיום קניה</button>
</div>
<div *ngIf="isProperties">
    <app-pay-purchase [amount]="currentAmount" ></app-pay-purchase>
</div>