<h1>חנות ספרים</h1>
<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" >home</a></li>
    <li><a routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page" >log in</a></li>

    <li><a routerLink="/shopping-cart" routerLinkActive="active" ariaCurrentWhenActive="page" >shopping-cart</a></li>
    <li><a routerLink="/store-product" routerLinkActive="active" ariaCurrentWhenActive="page" >store-products</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>                      